* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: transparent;
  border-radius: 50%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
  position: relative;
  min-width: 10em;
  min-height: 10em;
  border-radius: 50%;
  border: 1px solid transparent;
  /* background-image: url() */
  /* background-repeat: round; */
  transition: 0.4s;
  box-shadow: 0 0 10px 0;
}

.clock-center {
  position: absolute;
  background: black;
  border-radius: 10px;
  width: 8%;
  height: 8%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.digital-clock {
  margin: 1.5em 0;
  display: flex;
  position: relative;
  min-width: 150px;
  /* display: none; */
  transition: 0.4s;
  align-items: center;
  justify-content: center;
}

.digital {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  min-width: 25%;
  min-height: 1cm;
  margin: 2px;
  transition: 0.4s;
}

.seperate::after {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  min-height: 1cm;
  position: relative;
  content: ":";
  font-style: bold;
  font-size: 1.5em;
  margin: 2px;
}

.hand {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
  opacity: 0.8;
}

.seconds {
  width: 1%;
  height: 45%;
  top: 5%;
  left: 49.25%;
}

.minutes {
  width: 4%;
  height: 30%;
  top: 20%;
  left: 48%;
}

.hours {
  width: 6%;
  height: 20%;
  top: 30%;
  left: 46.9%;
}

.toggle {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 20px 0;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(20px);
}

.toggle-slider::after {
  margin: 1em 0;
  content: "analog";
  position: absolute;
  top: 100%;
  left: 0%;
}

.toggle-input:checked + .toggle-slider {
  background: pink;
}

.toggle-input:checked + .toggle-slider::after {
  content: "Digital";
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #d8b412;
}
